*{
    margin: 0;
    padding:0;
}
.main{
    background: #000;
    width: 100%;
    height:109vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%),url(1.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}
   
.main::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #000;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin:auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(247, 46, 19) ;
    font-size: 35px;
    font-family: Georgia, Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

u1{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
u1 li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size:14px;
}

u1 li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

u1 li a:hover{
    color:rgb(247, 46, 19) ;
}

.search{
    width:330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: century ;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid  rgb(247, 46, 19) ;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(247, 46, 19) ;
    border: 2px solid rgb(247, 46, 19) ;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.hero{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
  
}


.hero h1{
    display:block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    
}
.hero h1:nth-child(1){
    animation-delay: 1s;
}
.hero h1:nth-child(2){
    animation-delay: 2s;
}
.hero h1:nth-child(3){
    animation-delay: 3s;
}


.hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(247, 46, 19);
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;

}
.hero h1:nth-child(1) span{
    animation-delay: .5s;
}
.hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}


.hero .cn{
    width: 160px;
    height: 40px;
    background-color: transparent ;
    border: 2px solid rgb(247, 46, 19);
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.hero .cn a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.cn:hover{
    background-color:rgb(247, 46, 19);
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    } 
}
#about{
    background-color:silver;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 30px;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: justify;
    margin: 40px 0px;
    color: rgb(247, 46, 19) ;
    
}
#pic{
    display:flex;
}
#pic img{
    width: 400px;
    height:500px;
}
#intro{
    display:flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
}
.about .intro wrapper{
    display: inline-block;
}
.fa {
    padding: 20px;
    font-size: 100px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    display: center;
    border-radius: 50%;
    transition: .4s ease;
    color: black;
}
.fa:hover {
    opacity: 0.4;
    background-color: silver;
    
}

#PORTFOLIO{
    background-color:silver;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height:240px;
    margin: 10px;
}
 /*SKILL..... */
 #skill{
    background-color:silver;
    display:flex;
    flex-direction: column;
    padding: 20px;
   
    
 }

.header{
    width: 100%;
    margin-bottom: 70px;
    display: center;
    text-align: center;
}
.header h1{
    margin-bottom: -5px;
}
.header h1 span{
    color: rgb(247, 46, 19);
}
.skill-main{
    width: 50%;
    display: grid;
    grid-template-columns: repeat;
    row-gap: 15px;
    padding: 2%;
    
}
.skill-main .skill-bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .info .percent{
    font-weight: bold;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.215);
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgb(247, 46, 19);
    border-radius: 25px;
}
.skill-bar .bar .html{
    width: 75%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
.skill-bar .bar .css{
    width: 70%;
    animation: css 3s;
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
.skill-bar .bar .photography{
    width: 75%;
    animation: photography 3s;
}
@keyframes photography{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
.skill-bar .bar .graphics{
    width: 85%;
    animation: graphics 3s;
}
@keyframes graphics{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
